<!--

 *

   +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

 *      |                                             Copyright - Northest Missouri State University                  | 

*       |+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++|

 *      |Team # 1                                                                                                         | 

 *      |Unit # 12 : Sagar Ghimrie, Abhijeet Prakash Agrawal, Revanth vallamsetty                                                    | 

 *      |+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++|

 *      |Description: SignUP Page for User                                                                | 

-->
<div class="row mt-2">
    <div class="col col-md-12">
        <h1>Sign up</h1>
        <hr class="style1">
        <br>
    </div>
    <div class="col col-lg-5 col-md-4 col-sm-4">
      

        <form method="POST" action="/user/signup">
            
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" required id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" name="password" required id="pwd">
            </div>
            <% if (message && message.length) { %> 
                <div class="text-success"><%= message %></div>
            <% } %>
            <button type="submit" class="btn btn-default btn-primary">Register</button> 
        </form>

    </div>
</div>