<!-- Unit -5
< Purna Medarametla, Lakshman Pavan Kumar Vudutha -->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="estimate/create" class="btn btn-primary new">
        Create a New Estimate
      </a>
      <h2>Recent Estimates</h2>
      <p>There are
        <%= estimates.query.length %> estimates.
          <br/>
      </p>
      <% for (var i = estimates.query.length-1; i >= 0; i--) {   estimate = estimates.query[i]; %>
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="text-muted pull-right"></div>
          <div class="panel-body">
            <h2> Overview</h2>
            <table  style="width:50%" align="center">
           <b> ID:</b>
            <%=  estimate._id %>
              <br><b> Name:</b>
              <%=estimate.name%>
                <br/><b> Location:</b>
                <%=estimate.location%>
                  <br/> <b>Total Area:</b>
                  <%=estimate.squareFeet%> SqFt
            </table>   
                    <br/>
                    <br/>
                    <h4><b>Materials: </b></h4>
                    <b>Number of Materials : </b>
                    <%= estimate.materials.length %>
                    <br>
                    <% totMatCost=0.0;
                       for (let j = 0; j < estimate.materials.length; j++) { material = estimate.materials[j]; %>
                        <div class="arrayItem">
                          <br/>
                         <b>Material Name:</b>
                          <%= material.product %>
                            <br><b>Cost:</b> $
                            <%= parseFloat(material.unitcost).toFixed(2) %>
                              /SqFt
                              <br> <b>Coverage SqFt/unit: </b>
                              <%= material.coverageSquareFeetPerUnit %>
                              SqFt
                             <% totMatCost+=material.coverageSquareFeetPerUnit * material.unitcost %>
                            </div>
                        <% } %>
                          <br/>
                          <h4><b>Labor Cost Details</b></h4>
                          <b> Number of People:</b>
                          <%=  estimate.numberOfPeople %>
                         <br><b> Number of Days:</b>
                          <%=  estimate.numberOfDays %>
                          <br><b>Hours/Day:</b>
                          <%=  estimate.hoursWorkedPerDay %>
                          <br><b>Labor $/Hour:</b>
                          <%=  parseFloat(estimate.laborDollarsPerHour).toFixed(2) %>
                          <% totLaborCost = estimate.laborDollarsPerHour*estimate.numberOfPeople
                          *estimate.hoursWorkedPerDay*estimate.numberOfDays %>
                          <br>
                          <br>
                          <h4><b>Hotel Cost Details</b></h4>
                          <b>Number of Rooms:</b>
                          <%=  estimate.numberHotelRooms %>
                          <br><b>Number of Nights:</b>
                          <%=  estimate.numberHotelNights %>
                          <br><b>Hotel $/Night:</b> 
                          <%=  parseFloat(estimate.hotelDollarsPerNight).toFixed(2) %>
                          <% totHotelCost = estimate.numberHotelRooms *estimate.numberHotelNights*estimate.hotelDollarsPerNight %>
                          <br>
                          <br>
                          <h4><b>Food Cost Details</b></h4>
                          <b>Food $/Day:</b>
                          <%=  parseFloat(estimate.foodDollarsPerDay).toFixed(2) %>
                          <% totFoodCost = estimate.foodDollarsPerDay*estimate.numberOfDays %>
                          <br>
                          <br>
                          <h4><b>Vehicle Cost Details</b></h4>
                          <b>Number of Vehicles:</b>
                          <%=  estimate.numberOfVehicles %>
                          <br><b>Miles/Vehicle:</b>
                          <%=  estimate.milesPerVehicle %>
                          <br><b>$/mile:</b>
                          <%=  parseFloat(estimate.dollarsPerMile).toFixed(2) %>
                          <% totVehicleCost = estimate.numberOfVehicles*estimate.milesPerVehicle
                          *estimate.dollarsPerMile %>
                          <br/>
                          <br/>
                          <h4><b>Miscellaneous</b></h4>
                          <% totMisCost=0.0;
                          for (let j = 0; j < estimate.miscellaneous.length; j++) { miscellaneous = estimate.miscellaneous[j]; %>
                            <div class="arrayItem">
                          
                              <b><%= miscellaneous.misc %></b>
                                :  $ 
                                <%= parseFloat(miscellaneous.cost).toFixed(2) %>
                                <% totMisCost+=miscellaneous.cost %>
                            </div>
                            <% } %>
                            <br>
                            <h4><b> Multiplier </b></h4>
                            <b>Multiplier: </b>
                            <%= parseFloat(estimate.multiplier).toFixed(2) %>
                            <br>
                            <br>
                            <% totalCost =
                            totMatCost+totLaborCost+totHotelCost + totFoodCost + totVehicleCost + totMisCost %>
                           <b>Total Cost: $
                            <%= totalCost.toLocaleString(undefined, {maximumFractionDigits:2}) %></b>
                            <br>
                            <br>
                          <br>
                          <a href="/estimate/delete/<%= estimate._id  %>" class="btn btn-danger"> Delete </a>
                          <a href="/estimate/details/<%= estimate._id %>" class="btn btn-info"> Details </a>
                          <a href="/estimate/edit/<%= estimate._id %>" class="btn btn-warning"> Edit </a>
          </div>
        </div>
        <% } %>

    </div>
  </div>
</div>