<!--
/**
 * 
 *
 *      +-----------------------------------------------------------------------------------------------------------------+ 
 *      |                                             Copyright - NWMSU                                                   |
 *      |                                           NWMSU INTERNAL USE ONLY                                               |
 *      |-----------------------------------------------------------------------------------------------------------------|                    |
 *      |Unit 08 : Chinta Raja Srikar Karthik                                                                             |
 *      |-----------------------------------------------------------------------------------------------------------------|
 *      |Description: This page gives statistical view to end user                                                        |
 *      |-----------------------------------------------------------------------------------------------------------------|
 *      |    NAME                            VERSION                       CHANGES                                        |
 *      |-----------------------------------------------------------------------------------------------------------------|
 *      |Chinta Raja Srikar Karthik       0.0.1(Initial)       Initial code added to develop statistics controller and    |
 *      |                                                      and view.                                                  |             
 *      |                                                                                                                 |
 *      +-----------------------------------------------------------------------------------------------------------------+
 */
-->
<br/>
<br/>
<div class="container-fluid">
  <div class="row well">
      <div class="col-md-4" style="border:solid 1px;">
          <h3 style="text-align:center">Percentage of Materials used based on total estimates</h3><hr>
            <div id="materials-donut"></div>
      </div>
      <div class="col-md-offset-1 col-md-7" style="border:solid 1px">
            <h3 style="text-align:center">Users - Total Cost Estimate(in Dollars) statistics</h3><hr>
           <div id="user-analysis-bar"></div>
      </div>
  </div>
</div>

 
<script>
  Morris.Donut({
  element: 'materials-donut',
  data: [
  <% map.forEach(function(value, key) { %>
    { label: '<%= key%>', value: <%= value%> },
    <% }); %> 
  ], colors: [
    '#0BA462',
    '#39B580',
    '#67C69D',
    '#95D7BB'
  ],formatter: function (y) { return y + "%" }
});
Morris.Bar({
    element: 'user-analysis-bar',
    data: [
    <% userCostMap.forEach(function(value, key) { %>
    { Name: '<%= key%>', cost: <%= value%> },
    <% }); %> 
    ],
    xkey: 'Name',
    ykeys: ['cost'],
    labels: ['Total Estimate Cost'],
    barRatio: 0.4,
    xLabelAngle: 35,
    hideHover: 'auto',
    hoverCallback: function (index, options, content) {
  var row = options.data[index];
  //assumes you have already calculated the total of your own dataset
  return '<h3>Customer Name: '+ row.Name+'</h3><h4>Total estimate cost: $'+row.cost.toLocaleString(undefined, {maximumFractionDigits:2}) +'</h4>';
}
  });
</script>