<!-- Well You have gotta contact Team 6 - Unit 7(Vineeth & Sangeetha) for this-->
<br>
<br>

<div class="row	">
        <center> <img src="../../images/404.jpg"> </center>
    <h1 id="para1">Oh Oh!! Seems like you clicked on the wrong tab. But Don't panic. Just click on correct tab from header above in black.
        You would reach your destination soon. :)</h1>
</div>