<li class="dropdown-submenu">

    <a href="#">2017 Fall Web Apps Section 06
    </a>
    <ul class="dropdown-menu">
        <li class="dropdown-submenu">
            <a href="/about/t1">Team 1 </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/about/t1/a">Jason Scroggie</a>
                </li>
                <li>
                    <a href="/about/t1/b">Natasha Shankar</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="/about/t2">Team 2</a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/about/t2/a">KrishnaVeni Karri</a>
                </li>
                <li>
                    <a href="/about/t2/b">Supraja Kumbam</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="/about/t3">Team 3

            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/about/t3/a">Sai Praneetha Jaladanki</a>
                </li>
                <li>
                    <a href="/about/t3/b">Uma Yandapalli</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="/about/t4">Team 4

            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/about/t4/a">Prem kiran Osipalli</a>
                </li>
                <li>
                    <a href="/about/t4/b">Ujjawal Kumar</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="/about/t5">Team 5

            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/about/t5/a">Purna Medarametla</a>
                </li>
                <li>
                    <a href="/about/t5/b">Lakshman Pavan Kumar Vudutha</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="/about/t6">Team 6

            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/about/t6/a">Vishal Chilka</a>
                </li>
                <li>
                    <a href="/about/t6/b">Aditya Malireddy</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="/about/t7">Team 7

            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/about/t7/a">Sangeetha Detne</a>
                </li>
                <li>
                    <a href="/about/t7/b">Vineeth Agarwal</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="/about/t8">Team 8

            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/about/t8/a">Chinta Raja Srikar Karthik</a>
                </li>
                <li>
                    <a href="/about/t8/b">Chandra Mouli kantipudi</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="/about/t9">Team 9

            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/about/t9/a">Ashok Atkuri</a>
                </li>
                <li>
                    <a href="/about/t9/b">Venkata Siva Sai Nadipeneni</a>
                </li>
                <li>
                    <a href="/about/t9/c">Sai Kumar Uppala</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="/about/t10">Team 10

            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/about/t10/a">Harish Bondalapati</a>
                </li>
                <li>
                    <a href="/about/t10/b">Akhil Ravipati</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="/about/t11">Team 11

            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/about/t11/a">Santhosh Bonala</a>
                </li>
                <li>
                    <a href="/about/t11/b">Durga Charan Potukuru</a>
                </li>
                <li>
                    <a href="/about/t11/c">Shiva kumar mutukula</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="/about/t12">Team 12

            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/about/t12/a">Revanth Vallamsetty</a>
                </li>
                <li>
                    <a href="/about/t12/b">Abhijeet Prakash Agrawal</a>
                </li>
                <li>
                    <a href="/about/t12/c">Sagar Ghimire</a>
                </li>
            </ul>
        </li>

    </ul>
</li>