<!-- Unit 12: Abhijeet Agrawal, Sagar Ghimire, Revanth Vallamsetty-->
<div class="container-fluid">
    <div class="col-sm-offset-2 col-sm-5 ">
        
        <form id="contact-form" class="styled-form" action="/contact" method="post">
            <h1 >Contact us</h1>
            <div class="note">
                <p>We are here to answer any questions. Reach out to us and we'll
                    respond as soon as we can.</p>
            </div>
            <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" required  >
                </div>
                <div class="form-group">
                    <label for="pwd">Email</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                </div>
                <div class="form-group">
                    <label for="id_message">Message</label>
                    <textarea  class="form-control"  cols="40" rows="5" name="message" id="id_message"></textarea>
                </div>
                <% if (message && message.length) { %> 
                    <div class="text-success"><%= message %></div>
                <% } %>
            <p class="submit-row">
                <button type="submit" class="btn btn-primary">Send</button>
            </p>
        </form>
    </div>

    <div class="col-sm-offset-1 col-sm-4 mt-2" id="contact-info">
        <dl>
            <dt>Email</dt>
            <dd>
                <a href="mailto:curt.carpenter0@gmail.com" title="Click to send us an email"> curt.carpenter0@gmail.com</a>
            </dd>
            <dt>Telephone</dt>
            <dd>
                <a href="tel:+19136342588" title="Click to call us">+1 913-634-2588</a>
            </dd>
            
            <dt>Address</dt>
            <dd>
                <address>
                    4828 W 157<sup>th</sup> Street
                    <br> Overland Park,
                    <br> KS - 66224 
                    <br>
                </address>
            </dd>
            <dd class="social-links">
                <a class="fb" href="https://www.facebook.com/CG-Coatings-104818302930011/" title="Find us on Facebook">Facebook</a>
            </dd>
        </dl>
    </div>
</div>

<!-- <h1>Contact Info</h1>

<h4>913-634-2588</h4>

<h4>
<p>
    4828 W 157<sup>th</sup> Street
</p>
<p>
    Overland Park, KS 66224 <a class="btn btn-success" href="https://goo.gl/maps/KM4oDQyBep12">Open in Google Maps</a>
</p>
</h4>

<h4>
    curt.carpenter0@gmail.com <a class="btn btn-success" href="mailto:curt.carpenter0@gmail.com">Email</a>
</h4>
<h4>
    C&G Coatings Facebook <a class="btn btn-success" href="https://www.facebook.com/CG-Coatings-104818302930011/">Facebook</a>
</h4> -->