<!-- 
    Team 05
    Unit 08: Chinta Raja Srikar Karthik

 -->

<div class="main-content">
<article>
        <header>
            <center><h2 id="heading"><u>Chinta Raja Srikar Karthik</u></h2>		</center>	
        </header>
        <div class="articleBG">
        <section class="mainText"><h3>Background:</h3>
            <p style="font-size:1.2em">I'm Karthik from Hyderabad,India. I graduated in Computer science from Sri Chandrashekarendhra vishwa maha vidhyalaya in May 2015.<br>I worked in cognizant for 2 years as a programmer analyst and played an important role in designing Content Management system to maintain projects which follow agile SDLC. </p>
        </section>
        <section class="mainText col-md-7"  style="padding-left:0px"><h3>Plans:</h3> 
            <p style="font-size:1.2em">I have a business plan for initiating Internet of Things in large scale. which help in reaching all people with easy access to handy devices.Main motive of my project is to make reach of IoT to every person in my country.</p>
            <h3>Intrests:</h3>
            <p style="font-size:1.2em">I'm intrested in upgrading my programing skills depending upon the pace of industry.I follow many open source forums which help in upgrading ourself.I like cricket in sports.My Favourite website is the which is designed by me during my college days (<a href="http://www.scsvmv.in">www.scsvmv.in</a>, <a href="http://www.tarunyam.in">www.tarunyam.in</a>, <a href="www.bios2k14.in">www.bios2k14.in</a>)</p>
            
        </section>
        <section class="col-md-5" >
                <!-- <h5 hidden>video</h5>    -->
            <!-- <iframe width="360" height="187" style="border:double;margin-left:100px;" src="https://www.youtube.com/embed/qyRSZwWPARQ?rel=0&amp;start=14160" allowfullscreen></iframe> -->
           <center>
                <img src="http://crskarthik.tk/site/assets/img/pp2.jpg" width="50%" height="50%" class="img-circle profile-pic" alt="Profile Picture">       
           </center>
            </section>
        </div>
        <br>
    </article>


</div>