<br/>
<br/>
<br/>
<h1>Ujjawal Kumar</h1>
<h2>Software Developer</h2>
<header><h1>ABOUT ME</h1><header>
    
    <section>
        <h3 class="section-heading">My Background</h3>
        <p class="description">This is <b><i>Ujjawal Kumar</b></i> from Jharkhand, India. I am a graduate student at Northwest missouri state university.
            I did my undergraduation from Maharashtra,India in Electronics & Telecommunication major. I have more than three years
            of IT experience in Accenture Solutions Pvt. Ltd. I worked on banking database for Royal Bank of scotland(RBS), worked
            on powershell scripting for Avanade and on Java script for ServiceNow projects. I also worked on different tools like
            <b>Zenoss, HPSM, EMC2, Lync & Exchange</b>, etc. </p>
    </section>

    <section>
        <h3 class="section-heading">My Plans</h3>
        <p class="description">My plan is to study well here in <b>Northwest university</b> and increase my technical knowledge in the field of Computer
            science which would help me to get good grades over here. I am also planning to get GA in Web Apps or Data Base from
            the next semester for which I started working from now itself. As cooking is my hobby and passion too, I also want to
            have my own restaurant in future where I can spend my time after my work. </p>
    </section>

    <section>
        <h3 class="section-heading">My Interests</h3>
        <p class="description">As I already mentioned in my plan section, cooking is my passion, I love to cook whenever I am very happy or too sad.
            Apart from studies, I love playing martial arts<b> (TAEKWONDO) </b> and I am gold medalist in that too. I also love spending
            quality time with my friends and colleagues and sometimes love to talk about old memories with them. I love playing chess
            too and also I love sketiching and painting portraits. </p>
    </section>
<br/>
<br/>