
<br/>
<h1>Team 8</h1>
<h2>We are responsible for testing all controllers</h2>
<a href="/about/t8/a">Chinta Raja Srikar Karthik</a><br>
<a href="/about/t8/b">Chandra Mouli Kantipudi</a>
<h3>Please find your test results by typing following command in console: <code>npm test</code><br/>
Find test results both in console and report at <br><code>&lt;Project_folder&gt;/mochawesome-report/mochawesome.html</code></h3>

<br/>
<br/>