<br/>
<br/>
<br/>
<div>
        <!DOCTYPE html>
        <html>
        <head>		 
        <link  type= "text/css" rel= "stylesheet" href= "Kumbam_Supraja.css" />
        <title> Supraja </title>
        </head>
        <body>
                
        <header> <h1> Supraja Kumbam </h1> </header>
              <article class="Introduction">
                 <img class="img-circle"  src="IMG_0409.JPG" alt= "Software Designer" >
        
                   
            <section id="sec1">
               <h2> Background </h2> 
                <p> I was born in Hyderabad,Telangana,India.<br> I have done my under-graduation at Mahatma Gandhi Institute Of Technology ,
             in Computer Science Engineering.<br> I have completed the under-grad course in june-2017 , which could be the reason behind 
             me having no job experience.</p>
        
             </section>
             
         <section class="sec2" >
               <h2> My plans </h2>
                <p>I would like to work as a software developer in one of the top established organisations in India. I am much interested 
                  in the designing of the web applications.</p>
                  </section>
        <section class="sec3"> 
                 <h2> Interests </h2>
                 <p> I love watching TV shows in my leisure times.<br> I like making paper crafts and so i watch the origami videos and other designing videos.</p>
                 </section>
                 
        
        <footer> 
            <i>KS </i><br>
                       
                  
        
        </body>
    </div>
        </html>
                     

<br/>
<br/>