<br/>
<br/>
<br/>

<article class="container">
    <div>
     
        <div class="row	text-center">

            <img src="img/HTML_DP.jpg" class="img-circle" alt="" width="150" height="150"> 
            <h3 >Vineeth Agarawal</h3>
        </div>
    </div>
    <section>
        <h3> <br>My Roots and me until today.</h3>
        <p class="text">I was born in Hyderabad, India to a Marwari Family and hence our roots are connected to Rajasthan. I obtained
            my bachelors degree in Computer Science <br> from JNTU Hyderabad in 2014. I worked with a start up and also
            with TCS for over 3 years altogether after undergraduation. </p>
    </section>
    <section>
        <h3> Reason why I am here today.</h3>
        <p class="text">My zeal to learn and grow in the field of computer science have made me get off from the saturated routine work
            and pursue my masters. <br> I would like to complete my Masters with distinction and land up in a better
            position in the field of technology. </p>
    </section>
    <section>
        <h3>
            What I like and what am I upto.
        </h3>
        <p class="text"> Having worked for an analytics start up company, I would more likely be interested to start one on my own in
            near future. <br> The programming languages I like the most are perl,cobol,java. I am very much fond of learning
            the concept <br> behind dynamic websites like Cricbuzz and the web apps like microsoft outlook. Apart from
            technology, <br>I am fond of teaching, playing chess & cricket, and watching cricket.</p>
    </section>
</article>
<br/>
<br/>