<br/>
<br/>
<div class="container">    
    <div class="row">
        <div class="col-md-4">
            <img src="https://raw.githubusercontent.com/S530458/A02Atkuri/master/A01Atkuri/Ash_prf.jpg" alt="profile picture" class="img-circle" height="120" width="120" style="margin-left:15%"/><br>
            <div class="container">
                    <h2>Ashok Atkuri</h2>
                    <p><i class="glyphicon glyphicon-lock"></i> Student</p>
                    <p><i class="glyphicon glyphicon-home"></i> Maryville, MO</p>
                    <p><i class="glyphicon glyphicon-envelope"></i> ashok.atkuri@gmail.com</p>
                    <p><i class="glyphicon glyphicon-phone"></i> 612-475-6004</p>
            </div>						
        </div>
        <div class="col-md-8 col-xs-6">			  
            <section>
                <h3>Background</h3>
                <p>I would like to introduce myself as Mr. Ashok Atkuri from Lakkavaram, Andhra Pradesh, India<br>
                I have completed my bachelor’s degree in Computer Science and Engineering.<br>I worked as a Software Engineer 
                at Virtusa Corporation for 2 years.
                </p>
            </section>
            <section>
                <h3>Plans</h3>
                <p>My plan is to gain in depth knowlegde in Web Application Development and Cyber Security.<br>
                   I want to become a good software developer and successful entrepreneur.
                   </p>
            </section>
            <section>
                <p><h3>Interests</h3>
                <ul>
                  <li><b>Tech Interests:</b> Coding and Learn about Hacking.</li>
                  <li><b>Sports:</b> Basketball,Cricket and Football</li>
                  <li><b>Hobbies:</b> Travelling,Surfing Google Maps and </li>
                </ul></p>
            </section>            
        </div>                    
    </div>
</div>
<br/>
<br/>
