<br/>
<br/>
<br/>
<h1>Prem kiran Osipalli</h1>
<h2>Software Developer</h2>
<header><h1>ABOUT ME</h1><header>
    <h3>BACKGROUND</h3>
    <p><i>Iam from india, I complited my graduation in <br>
    electronics and communications engineering.</i></p>
    <h3>PLANS</h3>
    <p id="blueisgreat"><i>My plan is to get a good job where i can my skills</i></p>
    <h3>INTEREST</h3>
    <p><i>My favourite programming languages are HTML,JAVA,<br>
    C,C++, I love playing volleyball and surfing youtube,<br>
     my hobbies are listerning to songs and reading books</i></p>
    </body>
    
<br/>
<br/>  