<br/>
<br/>
<br/>
<h1>Akhil Ravipati</h1>
<h2>Software Developer</h2>
<div>
    <div class="col-sm-4">
        <h3 class="bold">Background</h3>
        <ul>
            <li>
                <p class="blok">I am
                    <span class="bold">AKHIL RAVIPATI </span>from
                    <span class="bold">ANDHRA PRADESH,INDIA.</span>I completed my Bachelors degree with 75% in electronics and communication engineering
                    from Bapatla Engineering College,Bapatla.</p>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h3 class="bold">Plans</h3>
        <ul>
            <li>
                <p class="blok">I like to get a job in challenging environment like cyber security.</p>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h3 class="bold">Interests</h3>
        <ul>
            <li>
                <p class="blok">My favourite operating system is Kali Linux. It provides different
                    types of testing tools. My favourite sport is cricket. My hobbies are
                    playing games, listening to music and reading books. C, C++, Java, 
                    python are my favourite programming languages.</p>
            </li>
        </ul>
    </div>
</div>
<br/>
<br/>