<br/>
<br/>
<br/>
<body style="background-image: url(/images/aboutme/t8b/3.jpg)"> 
<h1 style="color:red;">Chandra Mouli Kantipudi</h1>
<img src="/images/aboutme/t8b/1.jpg" width="100" height="100">
<h2>Software Developer</h2>

    <h3 style="color:blue;">Background</h3>
    <p>
        I am from India. I grew up in kakinada which is a coastal city in India.<br>
        I completed my undergraduation in mechanical engineering from Amrita University.
    </p>
  </section>
  <section>
    <h3 style="color:blue;">Plans</h3>
    <p>
        I'd like to become a computer programmer.<br>
        My current plan is to complete my masters.
    </p>
  </section>
  <section>
    <h3 style="color:blue;">Interests</h3>
    <p>
        I love playing cricket.<br>
        I like to analyze cricket matches.
    </p>
  </section>
</body>
<br/>
<br/>