<div class="container">    
    <div class="row">
<br/>
<br/>     
        <div class="col-md-9">		  
            <section>
                <h2 style="color:rgb(0, 153, 255);">Aditya Malireddy</h2>
                <h3 style="color:rgb(255, 153, 0);">About me</h3>
                <p>Hello, this is Aditya Malireddy from Kakinada, which is located in the southern part of India<br>
                I have completed my bachelor’s degree in Electronics and Communication Engineering.<br>I worked as a Software Engineer 
                at Infosys Limited for 3 years.
                </p>
            </section>
            <section>
                <h3 style="color:rgb(255, 153, 0);">Plans</h3>
                <p>My short term plan is to gain in depth knowledge in the latest technologies and to complete my graduation.<br>
                    My long term plan is to secure a responsible and challenging position in a product based organisation.
                   </p>
            </section>
            <section>
                <h3 style="color:rgb(255, 153, 0);">Interests</h3>
                <p>I love travelling and exploring new places.<br>
                  My hobbies are watching movies, playing cricket and listening to music.
                </p>
            </section>   
        </div>
        <div class="col-md-3">
            <img src="https://raw.githubusercontent.com/S530860/A01Malireddy/master/pic.jpg" alt="profile picture" class="img-circle" height="150" width="150" style="margin-left:15%"/><br>
           
        </div> 
    </div>
</div>                             
<br/>
<br/>
