<br/>
<br/>
<br/>
<div style="background-color: rgb(173, 230, 185);">

<h1>Sagar Ghimire</h1>
<h2>Software Developer</h2>
<h2>My Background</h2>
I am pursuing my undergraduate degree in Computer and Information Science with minor in Mathematics. I am a junior at Northwest. I am currently working as a Teaching Assistant in Computer Science Department and as a Software Developer at LTCITE.

<h2>Plans</h2>
<p>  My plan is to be a enterpernuer and to be a social worker. </p>

<h2>My Interests</h2>
<p> I love to listen music, talks with friends and make more friends. I like to talk about new Technology and new ways of solving the problems
</p>
</div>
<img src = "https://bytebucket.org/12323541515/a03ghimire/raw/9dad53ccacf02a2144e0cf2c3984a3125a45efd8/assets/sagar.jpg">
<br>  