<br/>
<br/>
<br/>
<h1>Shiva Kumar Mutukula</h1>
<h2>Software Developer</h2>

<div class="row">
    <div class="col-md-8">
        <section>
            <h3  style="color: blue">Background:</h3>
            <p>I am shiva kumar from Hyderabad,India.
                <br> I have completed my undergraduation from MVSR Engineering College, Hyderabad in Civil Enginnering Department,
                2015.
                <br> I have worked in Infosys as Systems Engineer for 21 months as Application Developer.
            </p>
        </section>
    </div>
    <div class="col-md-4">
        <img class="img-circle" src="/images/aboutme/t11c/profile.jpg" alt="Error in display of pic" style="width:200px;height:200px;">
    </div>
</div>

<h3 style="color: blue">Plans:</h3>
<p> I am interested in developing web applications and would like to work on them.
    <br> I want to join a good company as a web application developer.
</p>
<h3 style="color: blue">Interests:</h3>
<p> I like travelling to different states in India and enjoy different cultures.
    <br> I like playing and watching cricket.
</p>
</div>

<br/>
<br/>