<br/>
<br/>
<br/>
<h1>Uma Yandapalli</h1>
<h2>Software Developer</h2>
<h2>Background</h2>
Iam from Andhra pradesh, India. My qualification was bachelors in information technology from gayatri vidya parishad college of engineering for women in visakhapatnam, Andhra pradesh.
<h2>Future Plans</h2>
<p>After my masters, i wish to get into an IT industry as a software developer and be in a respectable position with improving skills.</p>

<h2>Interests</h2>
<p>I like programming because i feel it as a challenge and also interested in solving puzzles. My hobbies include painting, gaming and travelling. Coming to sports, interested in badminton.</p>
<br/>
<br/>